{{#with data}}
<div class="card">
    <div class="card_image" style="background-image: url({{img}})"></div>
    <h2 class="card_title">{{title}}</h2>
    <p class="card_text">{{text}}</p>
    <a href="{{href}}" class="button card_button">{{button}}</a>
</div>
{{/with}}